@import "tailwindcss";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --card-bg: #FFFFFF;
  --secondary: #6a6a6a;
  --header-bg: #e8e2e9;
  --inactive: rgb(128,128,128);
  --btn-hover: rgb(255, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ffffff;
    --header-bg: #484249;
    --card-bg: #222;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-card-bg: var(--card-bg);
  --color-secondary: var(--secondary);
  --color-header-bg: var(--header-bg);
  --color-inactive: var(--inactive);
  --color-btn-hover: var(--btn-hover);
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  height: 100dvh;
}


.as-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.as-btn:hover {
  background-color: aqua;
} 

.as-btn.selected {
  background-color: rgb(102, 102, 253);
}

@keyframes fade-in-dwn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
